<agm-map [latitude]="lat" [longitude]="lng" [zoom]="3">
  <agm-marker [latitude]="local.latitude" [longitude]="local.longitude" 
    *ngFor="let local of localizacoes"></agm-marker>
</agm-map>

<footer>
  <div style="text-align:center">
    
    <button  (click)="updateMap()" >Atualizar Mapa</button>
 </div>
</footer>
